:root {
  --background-color: #fff;
  --backround-section-dark: #2e2f42;
  --background-section-light: #f4f4fd;

  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;

  --primary-white-color: #fff;

  --link-def-color: #2e2f42;
  --link-hov-color: #434455;

  --bt-bg-color: #4d5ae5;
  --bt-acc-color: #404bbf;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ol,
ul {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------UTILITARIAN CLASSES------ */
.container {
  width: 1158px;
  padding: 0px 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.04em;

  border-style: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* ----------------LOGO------------ */

.logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.logo-part {
  color: var(--accent-color);
}

.logo {
  text-transform: uppercase;
}

/* ------------HEADER -------------------*/

.header {
  padding: 24px 0px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list,
.adress {
  display: flex;
}

.header-link {
  color: var(--link-def-color);
  font-weight: 600;
}
.header-link.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--link-hov-color);
}

.header-link:active {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  color: var(--primary-text-color);
  font-style: normal;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* --------HERO SECTION------ * */

.hero {
  background-color: var(--backround-section-dark);
  padding: 188px 0px;
  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  max-width: 494px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button-hero {
  color: #fff;
  background-color: var(--bt-bg-color);
  line-height: 1.18;
  padding: 16px 32px;
}

.button-hero:hover,
.button-hero:focus,
.button-hero:active {
  background-color: var(--bt-acc-color);
}

/* --------Advantages section------ */

.advantages-items {
  display: flex;
}

.advantages,
.examples,
.team {
  padding: 120px 0px;
}
/* --------Examples section------ */

.advantages-title,
.team-name,
.works-names {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.team-title,
.examples-title {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 72px;
}

/* --------Team section------ */

.team {
  background-color: var(--background-section-light);
}
.team-photo,
.works-items {
  background-color: var(--primary-white-color);
}

/* -----------PORTFOLIO SECTION-------- */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-portfolio {
  color: var(--accent-color);
  background-color: #f4f4fd;
  line-height: 1.5;
  margin-bottom: 72px;
  padding: 12px 24px;
}

.button.button-portfolio:hover,
.button.button-portfolio:focus,
.button.button-portfolio:active {
  color: #fff;
  background-color: var(--accent-color);
}

.works-sphere {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  margin-bottom: 32px;
}

.border {
  border: none;
}

.works-items {
  border: 1px solid #e7e9fc;
  max-width: 360px;
}

.works-items img {
  margin-bottom: 32px;
}

/* --------FOOTER------ */
.footer {
  background-color: var(--backround-section-dark);
  padding: 100px 0px;
}
.footer .logo {
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  color: #e7e9fc;
  max-width: 264px;
}
